.content-container {
    width: 100%;
    max-width: calc($mwContent + var(--pContent) * 2);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--pContent);
    padding-right: var(--pContent);

    &--hidden {
        display: none;
    }
}

.btn {
    padding: calc-rem(15px) calc-rem(30px);
    background-color: var(--accent-color);
    color: var(--primary-color);
    border: 2px solid transparent;
    outline: none;
    font-weight: bold;
    font-size: calc-rem(18px);
    min-width: calc-rem(200px);
    border-radius: $baseBorderRadius;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-align: center;

    @media #{$mMd} {
        font-size: calc-rem(16px);
        padding: calc-rem(12.5px) calc-rem(25px);
    }

    &:hover,
    &:focus {
        background-color: var(--accent-light-color);
    }

    &:focus {
        border-color: var(--third-party-color);
    }
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: $baseBorderRadius;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent-light-color)
}
