@keyframes rotateClockwise {
    from {
        transform: rotate(125deg);
    }

    50% {
        transform: rotate(250deg);
    }

    to {
        transform: rotate(410deg);
    }
}

@keyframes counterClockWise {
    from {
        transform: rotate(410deg);
    }

    50% {
        transform: rotate(250deg);
    }

    to {
        transform: rotate(125deg);
    }
}

@keyframes scale {
    100%{
        transform: scaleX(1);
    }
}

@keyframes show {
    100%{
        opacity: 1;
    }
}
