@keyframes rotateClockwise {
    from {
        transform: rotate(125deg);
    }

    50% {
        transform: rotate(250deg);
    }

    to {
        transform: rotate(410deg);
    }
}

@keyframes counterClockWise {
    from {
        transform: rotate(410deg);
    }

    50% {
        transform: rotate(250deg);
    }

    to {
        transform: rotate(125deg);
    }
}

@keyframes scale {
    100%{
        transform: scaleX(1);
    }
}

@keyframes show {
    100%{
        opacity: 1;
    }
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: calc-rem(105px);
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: calc-rem(105px);
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: calc-rem(210px);
    }
}
