@import '../css/root.css';
@import '../scss/variables-sass';
@import '../css/variables-css';
@import '../scss/functions.scss';
@import '../scss/fonts.scss';
@import '../scss/common.scss';
@import '../scss/keyframes.scss';
@import '../css/swiper.css';

body {
    position: relative;
    background-color: var(--primary-color);
    font-family: $fnManrope;
    font-weight: $fMedium;
    color: var(--text-primary-color);
    font-feature-settings: 'lnum' 1;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    cursor: default;

    &:after {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        position: fixed;
        background-size: cover;
        right: 0;
        bottom: 0;
        background-image: url("./../../assets/images/javascript.png");
    }
}

.portfolio {
    &__header {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: var(--hHeader);
    }

    &__logo {
        text-decoration: none;
        font-size: calc-rem(30px);
        color: var(--text-primary-color);
        font-weight: bold;
        transition: color .2s ease-in-out;

        &:hover {
            color: var(--accent-light-color);
        }
    }

    &__navigation {
        display: flex;
        align-items: center;
        gap: calc-rem(25px);
    }

    &__main {}
}

.navigation {
    &__item {
        text-transform: uppercase;
    }

    &__link {
        font-weight: bold;
        color: var(--text-primary-color);
        transition: color .2s ease-in-out;
        padding: calc-rem(5px) calc-rem(10px);
        border: 2px solid transparent;
        border-radius: 5px;

        &:hover {
            color: var(--accent-light-color);
        }

        &:focus {
            outline: none;
            border-color: var(--accent-light-color);
        }

        &--active {
            color: var(--accent-color);
        }
    }
}

.main {
    &__container {
        display: flex;
        align-items: center;
        height: calc(100vh - var(--hHeader));
    }

    &__info {
        max-width: 60%;
    }

    &__picture-container {
        max-width: 40%;
    }

    &__picture {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: $baseBorderRadius;
    }

    &__mark {
        color: var(--primary-color);
        background-color: var(--accent-color);
    }

    &__title,
    &__pre-title {
        margin: 0 0 calc-rem(20px);
    }


    &__title {
        font-size: calc-rem(80px);
    }

    &__pre-title {
        font-size: calc-rem(30px);
        font-weight: bold;
        color: var(--accent-color);
    }

    &__about {
        color: var(--text-secondary-color);
        font-size: calc-rem(18px);
        line-height: 1.5;
        max-width: 80%;
        margin: 0 0 calc-rem(40px);
    }

    &__contact-me {}

    &__journey {
        margin-bottom: calc-rem(40px);
    }

    &__mentoring {
        margin-bottom: calc-rem(160px);
    }

    &__education {
        margin-bottom: calc-rem(160px);
    }

    &__contact-me {
        margin-bottom: calc-rem(160px);
    }
}

.journey {
    &__title {
        position: relative;
        margin-bottom: 0;

        &:before,
        &:after {
            content: '';
            display: block;
            height: calc-rem(4px);
            width: calc-rem(150px);
            background-color: var(--accent-color);
            position: absolute;
            bottom: 50%;
            border-radius: $baseBorderRadius;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }

    &__title,
    &__pre-title {
        text-align: center;
    }

    &__pre-title {
        margin: 0 0 calc-rem(40px);
    }

    &__sub-title {
        position: relative;
        text-align: center;
        margin-bottom: calc-rem(80px);
        color: var(--text-secondary-color);
    }
}

.timeline {
    margin: 0 auto;
    max-width: calc-rem(950px);
    padding: calc-rem(25px);
    display: grid;
    grid-template-columns: 1fr 3px 1fr;

    &__component {
        margin: 0 calc-rem(20px) calc-rem(20px) calc-rem(20px);

        &--bg {
            padding: calc-rem(24px);
            background: var(--secondary-color);
            box-shadow: 0 0 calc-rem(5px) rgba(0, 0, 0, 0.2);
            border-radius: calc-rem(10px);
        }

        &--vue,
        &--react,
        &--angular {
            background-repeat: no-repeat;
            background-size: 50px 50px;
            background-position: 98% 2%;
        }

        &--vue {
            background-image: url('./../../assets/svg/logo-vue.svg');
        }

        &--react {
            background-image: url('./../../assets/svg/logo-react.svg');
        }

        &--angular {
            background-image: url('./../../assets/svg/logo-angular.svg');
        }

        &--bottom {
            margin-bottom: 0;
        }
    }

    &__middle {
        position: relative;
        background: var(--accent-color);
    }

    &__point {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc-rem(15px);
        height: calc-rem(15px);
        background: var(--text-primary-color);
        border-radius: 50%;

        &--bottom {
            top: initial;
            bottom: 0;
        }
    }

    &__date {
        &--right {
            text-align: right;
        }
    }

    &__title {
        font-size: calc-rem(18px);
        margin: 0 0 calc-rem(5px);
        font-weight: bold;
        color: var(--accent-light-color);
    }

    &__pre-title {
        margin-bottom: calc-rem(15px);
        color: var(--text-secondary-color);
        font-size: calc-rem(12px);
    }

    &__paragraph {
        line-height: 1.5;
        color: var(--third-party-color);
        margin: 0 0 calc-rem(5px);
        font-size: calc-rem(14px);
    }
}

.mentoring {
    text-align: center;

    &__heading {
        font-size: calc-rem(30px);
        color: var(--accent-color);
        margin-bottom: calc-rem(20px);
    }

    &__info {
        max-width: calc-rem(880px);
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        font-size: calc-rem(22px);
    }

    &__pre-title {
        margin-bottom: calc-rem(20px);
        color: var(--text-secondary-color);
        font-size: calc-rem(12px);
    }

    &__paragraph {
        max-width: 90%;
        margin: 0 auto;
    }

    &__date {
        margin-bottom: calc-rem(40px);
    }

    &__pre-title {
    }
}

.education {
    &__title {
        margin-bottom: calc-rem(80px);
    }

    &__image-container {
        position: relative;
        height: 60px;
        width: 60px;
        margin: 0 auto;
        margin-bottom: calc-rem(20px);

        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 50%;
            width: 50%;
            border-radius: 50%;
            top: 50%;
            z-index: -1;
            background-color: transparent;
            border: 2px solid var(--accent-color);
        }

        &:before {
            left: 50%;
        }

        &:after {
            right: 50%;
        }
    }

    &__carousel {
        cursor: grab;
    }

    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid var(--text-secondary-color);
        box-shadow: rgb(31, 31, 31) 0px 2px 8px 0px;
    }
}

.skills {
    &__actions {
        position: relative;
        margin: 0 auto;
        width: fit-content;
        display: flex;
        align-items: center;
        gap: calc-rem(50px);
        margin-bottom: calc-rem(80px);
    }

    &__decor {
        position: absolute;
        right: 44.8%;
        bottom: 25%;
        width: calc-rem(40px);
        height: calc-rem(3px);
        background-color: var(--accent-color);
        transform: rotate(125deg);
        border-radius: $baseBorderRadius;

        &--rotate {
            animation: .3s rotateClockwise ease-in-out forwards;
        }

        &--initial {
            animation: .3s counterClockWise ease-in-out forwards;
        }
    }

    &__btn {
        position: relative;
        background-color: transparent;
        border: none;
        outline: none;
        color: var(--text-primary-color);
        font-size: calc-rem(20px);
        cursor: pointer;
        transition: all .2s ease-in-out;

        &:before {
            content: '';
            display: block;
            width: 110%;
            height: calc-rem(3px);
            background-color: transparent;
            border-radius: $baseBorderRadius;
            position: absolute;
            bottom: -50%;
            left: -5%;
        }

        &:hover {
            color: var(--accent-light-color);
        }

        &--active {
            color: var(--accent-color);
            &:before {
                background-color: var(--accent-color);
            }
        }
    }

    &__container {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0 auto;
        gap: calc-rem(30px);
        margin-bottom: calc-rem(80px);
    }

    &__bars {
        padding: calc-rem(25px) calc-rem(30px);
        width: calc-rem(600px);
        background: var(--secondary-color);
        box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
        border-radius: $baseBorderRadius;
    }

    &__bar {
        margin: calc-rem(20px) 0;

        &:first-child {
            margin-top: 0;
        }
    }

    &__info {
        margin-bottom: calc-rem(5px);
    }

    &__skill {
        font-weight: 500;
        font-size: calc-rem(16px);
        opacity: 0;
        animation: showText 0.5s 1s linear forwards;
    }

    &__progress-line {
        height: calc-rem(10px);
        width: 100%;
        background: var(--third-party-color);
        position: relative;
        transform: scaleX(0);
        transform-origin: left;
        border-radius: 10px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
        0 1px rgba(255,255,255,0.8);
        animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    }

    &__item {
        position: absolute;
        height: 100%;
        border-radius: $baseBorderRadius;
        transform: scaleX(0);
        transform-origin: left;
        background: var(--accent-color);
        animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;

        &--javascript {
            width: 90%;

            &:after{
                content: "90%";
            }
        }

        &--react {
            width: 95%;

            &:after{
                content: "95%";
            }
        }

        &--vue {
            width: 95%;

            &:after{
                content: "95%";
            }
        }

        &--angular {
            width: 60%;

            &:after{
                content: "60%";
            }
        }

        &--git {
            width: 85%;

            &:after{
                content: "85%";
            }
        }

        &--html {
            width: 95%;

            &:after{
                content: "95%";
            }
        }

        &--css {
            width: 90%;

            &:after{
                content: "90%";
            }
        }

        &--typescript {
            width: 85%;

            &:after{
                content: "85%";
            }
        }

        &--vitest {
            width: 50%;

            &:after{
                content: "50%";
            }
        }

        &--bundler {
            width: 70%;

            &:after{
                content: "70%";
            }
        }

        &:before,
        &:after {
            position: absolute;
            opacity: 0;
            animation: showText2 0.5s 1.5s linear forwards;
        }

        &:before {
            content: "";
            top: -10px;
            right: 0;
            height: 0;
            width: 0;
            border: calc-rem(8px) solid transparent;
            border-bottom-width: 0;
            border-right-width: 0;
            border-top-color: var(--primary-color);
        }

        &:after {
            top: -28px;
            right: 0;
            font-weight: normal;
            background: var(--primary-color);
            color: #fff;
            padding: calc-rem(4px) calc-rem(8px);
            font-size: calc-rem(12px);
            border-radius: calc-rem(3px);
        }
    }
    &__additional {
        text-align: center;
    }
}

.additional {
    margin-bottom: calc-rem(160px);

    &__title {
        margin-bottom: calc-rem(10px);
    }

    &__description {
        font-size: calc-rem(14px);
        color: var(--text-secondary-color);
    }
}

.contact-me {
    &__title {}

    &__heading {
        display: flex;
        align-items: center;
        gap: calc-rem(40px);
    }

    &__input {
        width: 100%;
        display: block;
        padding: calc-rem(20px) calc-rem(40px);
        border-radius: $baseBorderRadius;
        border: 3px solid var(--accent-color);
        background-color: transparent;
        transition: all .2s ease-in-out;
        outline: none;
        color: var(--text-primary-color);

        &:focus {
            border-color: var(--accent-light-color);
            background-color: rgba(164, 161, 161, 0.1);
        }

        &::placeholder {
            color: var(--text-secondary-color);
        }
    }

    &__container {
        width: 100%;
        position: relative;
    }

    &__error {
        position: absolute;
        right: calc-rem(10px);
        top: calc-rem(-20px);
        color: var(--error-color);
        font-size: calc-rem(12px);
        text-align: right;
        display: block;
        visibility: hidden;
        pointer-events: none;

        &--visible {
            visibility: visible;
            pointer-events: auto;
        }
    }

    &__form {
        max-width: calc-rem(650px);
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: calc-rem(40px);
    }

    &__send {
        width: fit-content;
        align-self: end;

        &:disabled {
            background-color: var(--text-secondary-color);
        }
    }
}

@keyframes showText {
    100%{
        opacity: 1;
    }
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

@keyframes showText2 {
    100%{
        opacity: 1;
    }
}
