:root {
    --accent-color: #daa30e;
    --accent-light-color: #ffc836;
    --primary-color: #202020;
    --error-color: #ff7a7a;
    --secondary-color: rgba(155, 154, 154, 0.18);
    --third-party-color: #f6f6f6;
    --text-primary-color: #f3f3f3;
    --text-secondary-color: #a4a1a1;
}

html[data-theme='light'] {
    --accent-color: #daa30e;
    --accent-light-color: #b68f29;
    --primary-color: #fff3f3;
    --error-color: #ff7a7a;
    --secondary-color: rgba(155, 154, 154, 0.18);
    --third-party-color: #2c2c2c;
    --text-primary-color: #202020;
    --text-secondary-color: #a4a1a1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
